<br>
<%= form_for @artist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :nationality %>
<%= f.text_field :nationality %>
<br>
<br>
<%= f.label :genre %>
<%= f.text_field :genre %>
<br>
<br>
<%= f.label :photo_url %>
<%= f.text_field :photo_url %>
<br>
<br>
<%= f.submit %>
<% end %>

<% @artist.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
