<br>
<%= form_for [@album, @show] do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<br>
<%= f.label :year %>
<%= f.text_field :year %>
<br>
<br>
<%= f.label :video_url %>
<%= f.text_field :video_url %>
<br>
<br>
<%= f.submit %>
<% end %>

<% @show.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
