<div class="showinfo">
  <h3><%= @show.title %> </h3>
  <h4><%= @show.album.title %> </h4>
  <h4><%= @show.album.artist.name  %> </h4>
  <br>
  <h4><%= link_to "Delete this Show", album_show_path(@show),
  method: :delete,
  data: { confirm: 'Are you sure?' } %> </h4>
  <h4><%= link_to "Edit show details", edit_album_show_path(@show) %></h4>
</div>

<div class="embed-container">
      <iframe width="640" height="360" src="<%= @show.video_url %>" frameborder="0" allowfullscreen></iframe>

    </div>


    <footer>
    <%= link_to "Back to #{@show.album.title}", @show.album, class: "link" %>
    </footer>
