<!DOCTYPE html>
<html>
  <head>
    <title>Livealbum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline|Megrim|Poiret+One|Quicksand|Sonsie+One" rel="stylesheet">
  </head>

  <body>

    <header>
    <img src="/assets/logo-b026502bb6e188b97c6dca0ddc9c192542f01aeef188adc0709344f2059101b0.png" alt="logo" id="logo" />

    <div class="heading">
      <h1><a href="/" id="home">LiveAlbum</a></h1>
      <h2>your favorite artists. their best live shows</h2>
    </div>
  </header>
  <hr style="color:white;width:97%;margin-top:15px">
<div class="userbar">
  <% if !current_user %>
    <%= link_to "Sign up", new_user_registration_path %> &nbsp;|&nbsp;

    <%= link_to "Sign In", new_user_session_path %>
  <% else %>
    <%#= link_to "New Showlist", new_showlist_path %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <%= " || " %>
    <%= current_user.email %>
  <% end %>
</div>
<br>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<br>
<div class="browsebar">
  <%= link_to "Browse by Artists", artists_path, class: "link", id: "navbarartists" %>
  <%= link_to "Browse by Albums", albums_path, class: "link", id: "navbaralbums" %>
</div>


    <%= yield %>
  </body>

</html>
